$text-color: white;
$background-color: rgb(25, 37, 54);
$torrent-unfinished-color: rgb(25, 84, 161);
$torrent-finished-color: rgb(25, 155, 75);
$button-color: rgb(43, 135, 255);
$progress-background-color: rgba(0, 0, 0, 0.4);
$progress-foreground-color: white;
